body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
   background: #CE2029;
}

.container{
    width: 1310px;
    background-color: #f3ddde;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

/* cabecera */

.barraSuperior{
    display: flex;
    margin-top: 5px;

}

.nav-list{
    margin-top: 5px;
    height: 50px;
    width: 100%;
    
}

.mainMenu{
    display: flex;
    background: #fff; 
    height: 50px;
    justify-content: space-evenly;
    margin-left: 5px;
    list-style: none; 
    text-align: end;
    align-items: center;
    
    
}

.imgBarra{
    background: #fff;
    margin-top: 5px;
    
}
.mainMenuItem > a:hover{
    background: #fff;
    font-size: 20px;
    text-decoration: unset;
    color: red;
}
/* carrusel */
.carousel{
    margin-top: 5px;
}





/* .header{
    background-color: rgb(255, 255, 255);
    height: 100px;
    
} */
/* .container-menu{
    height: 60px;
    background-color: #CE2029;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
} */


/* 
.img1{
    width: 50px;
    height: 50px;

}
.container-logo{
    width: 100px;
    height: inherit;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.site-title{
    margin: 0;
    padding: 0.36em 0;
}
.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.main-menu__item{
    line-height: 3;
}
.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
}
.img2{
    width: 1100px;
    height: 500px;
}


.col-3{
    width: 360px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;

    text-align: center;
}

.service-content{
    padding: 0px;
}
.service-text{
    padding: 10px;
    text-align: justify;
    bottom: 0;
}

.section-text{
  
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;

}
.section-text2{
  
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;

}
.section-news{
    margin-top: 5px;
    margin-bottom: 2px; 
    margin-left: 25px;
}
.news{

    width: 1000px;
    background-color: rgb(255, 255, 255);
    height: 240px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 5%;
}


.news-text{
    color: rgb(134, 37, 37);
    text-align: justify;
    width: 80%;
    padding: 1em 0;
}

.news-text > span.news-url{
    text-align: right;
} */